<div>
    <h2> BIENVENIDO A LA PAGINA</h2>
    <h3> POR FAVOR INGRESE LOS PRODUCTOS</h3>

        <form action="/productos" method="POST">
            Nombre de Producto : <input type="text" name="gusto">
            Precio : <input type="number" name="precio">
            Link de Imagen : <input type="text" name="img">
            <button> Enviar </button>
        </form>

        <button> <a href="/productos"> Ir a Productos </a> </button>

</div>



