extends layout

block body

    if answer
        table.table.mt-3
            thead
                tr
                th.align-middle(scope='col') ID
                th.align-middle(scope='col') Gusto
                th.align-middle(scope='col') Precio
                th.align-middle(scope='col') Imagen
            thead
            each product in answer
                tr
                td.align-middle(scope='row')=product.id
                td.align-middle=product.gusto
                td.align-middle='$'+product.precio
                //- td.align-middle
                //-     img(src=product.thumbnail, alt='imagen del producto', style='width: 100px')
    else 
        h1 No se encontraron productos.
    button.btn.btn-light
        a(href='/') Ir al Formulario
